@use '../base/breakpoints';

.header {
  position: relative;
  z-index: 1000;

  &__nav--container {
    display: flex;
    gap: 2rem;
  }

  /* Burger Menu Caché */
  &__nav--burger {
    display: none;
  }
}

@include breakpoints.burger {
  .header__nav--container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--c-beige);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10rem 2rem;
    transition: all .3s ease;
    transform: translate(100%);
    z-index: 1000;
    color: var(--c-white);
    gap: 2rem;
  }

  .header__nav--burger {
    display: block;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    position: relative;
    z-index: 1001;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity 0.2s ease;
      stroke: var(--c-brown);
      width: 100%;
      height: 100%;
      color: var(--c-brown);
    }

    .close-icon {
      opacity: 0;
    }
  }
}

/* Menu Ouvert */
.burger-checkbox:checked ~ .header__nav--container {
  transform: translateX(0);
}

.burger-checkbox:checked ~ .header__nav--burger {
  svg {
    stroke: var(--c-white);
    color: var(--c-white);
  }

  .burger-icon {
    opacity: 0;
  }

  .close-icon {
    opacity: 1;
  }
}

/* Checkbox */
.burger-checkbox {
  overflow-y: hidden;
  position: absolute;
  opacity: 0;
}

body:has(#burger-menu:checked) {
  overflow-y: hidden;
}
