:root {

  /* Font family */
  --ff-primary: 'Playfair Display', serif;
  --ff-secondary: 'Poppins', sans-serif;

  /* Couleurs de base */
  --c-black: #000000;
  --c-white: #FFFFFF;

  /* Couleurs */
  --c-beige: #AA887F;
  --c-yellow: #FDD87A;

  --c-blue-light: #A9D6DC;
  --c-blue-mid: #33A8BC;
  --c-blue-dark: #295B96;

  --c-brown: #1E1B16;

}