@use '../../base/breakpoints';

.features, .team {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.features {
  margin-bottom: 4rem;
}

.team {
  margin-bottom: 2rem;
}

.features__title, .team__title {
  font-size: 2rem;
  font-weight: 600;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;

  .feature__item {
    background: var(--c-white);
    border-radius: 0.5rem;
    padding: 2rem;
    transition: all 0.3s ease;

    &:nth-child(even) {
      border-left: 0.5rem solid var(--c-yellow);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    &:nth-child(odd) {
      border-left: 0.5rem solid var(--c-blue-mid);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    h3 {
      font-size: 1.125rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
      color: var(--c-blue-mid);
    }

    &:hover,
    &:focus-within {
      transform: translateX(-0.25rem);
    }
  }
}

.team__container {
  background: var(--c-white);
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;

  h3 {
    font-size: 1.5rem;
    color: var(--c-blue-mid);
    font-weight: 600;
    left: 1.25rem;

    @include breakpoints.mobile {
      left : 0;
    }
  }

  .teammates {
    gap: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 320px));
    width: 100%;

    &:nth-child(even) {
      border-left: 0.5rem solid var(--c-beige);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    &:nth-child(odd) {
      border-left: 0.5rem solid var(--c-blue-light);
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }
  }

  .teammates__content {
    h4 {
      font-size: 1.25rem;
      margin-bottom: 0.25rem;
      color: var(--c-blue-dark);
    }
  }

  .team__note {
    border-top: 0.0625rem solid var(--c-beige-dark);
    padding-top: 1rem;
  }
}